<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row h-100">
      <!-- Datos para el pago -->

      <div class="col-md-6">
        <!-- Direccion -->
        <h3 class="fw-normal mb-5" style="color: #484849;">Dirección de facturación</h3>

        <div class="mb-4 pb-2">
          <div class="form-outline">
            <label class="form-label" for="direccion">Direccion facturación</label>
            <input type="text" id="direccion" class="form-control form-control-lg" [(ngModel)]="direccion.direccion"
              name="direccion" />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4 pb-2">
            <div class="form-outline">
              <label class="form-label" for="ciudad">Ciudad</label>
              <input type="text" id="ciudad" class="form-control form-control-lg" [(ngModel)]="direccion.ciudad"
                name="ciudad" />
            </div>
          </div>
          <div class="col-md-6 mb-4 pb-2">
            <div class="form-outline">
              <label class="form-label" for="codigo_postal">Código postal</label>
              <input type="text" id="codigo_postal" class="form-control form-control-lg"
                [(ngModel)]="direccion.codigo_postal" name="codigo_postal" />
            </div>
          </div>

          <div class="col-md-6 mb-4 pb-2">
            <div class="form-outline">
              <label class="form-label" for="codigo_postal">Código postal</label>
              <input type="text" id="codigo_postal" class="form-control form-control-lg"
                [(ngModel)]="direccion.codigo_postal" name="codigo_postal" />
            </div>
          </div>
        </div>
        <!-- Metodo de pago -->
        <h2 class="fw-normal mb-5" style="color: #484849;">Metodos pago</h2>

        <div class="mb-4 pb-2">
          <div class="form-check" (change)="termsChange($event)">
            <input class="form-check-input" type="radio" [checked]="validarTipoPago('CREDIT_CARD')"
              name="payment-platform" value="CREDIT_CARD">
            <label class="form-check-label">Tarjeta crédito/débito</label>
          </div>
          <div class="form-check" (change)="termsChange($event)">
            <input class="form-check-input" type="radio" [checked]="validarTipoPago('PAYPAL')" name="payment-platform"
              value="PAYPAL">
            <label class="form-check-label" for="flexRadioDefault2">
              Paypal<span class="fees">(+0.15€)</span>
            </label>
          </div>
          <div class="form-check" (change)="termsChange($event)">
            <input class="form-check-input" type="radio" [checked]="validarTipoPago('SOFORT')" name="payment-platform"
              value="SOFORT">
            <label class="form-check-label">Sofort<span class="fees">(+0.13€)</span></label>
          </div>
          <div class="form-check" (change)="termsChange($event)">
            <input class="form-check-input" type="radio" [checked]="validarTipoPago('PAYSAFECARD')"
              name="payment-platform" value="PAYSAFECARD">
            <label class="form-check-label" for="flexRadioDefault2">
              Paysafecard<span class="fees">(+0.64€)</span>
            </label>
          </div>
        </div>

        <div *ngIf="validarTipoPago('CREDIT_CARD')">
          <div class="mb-4 pb-2">
            <label class="form-label" for="numero_cuenta">Número de tarjeta</label>
            <input class="form-control" type="text" id="numero_cuenta" [(ngModel)]="metodoPago.numero_cuenta"
              name="numero_cuenta" placeholder="0123456789123456" />
          </div>

          <div class="mb-4 pb-2">
            <label class="form-label" for="titular">Titular de la tarjeta</label>
            <input class="form-control" type="text" id="titular" [(ngModel)]="metodoPago.titular" name="titular">
          </div>

          <div class="row">
            <div class="col-md-6 mb-4 pb-2">
              <label class="form-label" for="expiracion">Fecha de caducidad</label>
              <input class="form-control" type="text" id="expiracion" [(ngModel)]="metodoPago.expiracion"
                name="expiracion" placeholder="mm/aa">
            </div>
            <div class="col-md-6 mb-4 pb-2">
              <label class="form-label" for="cvv">CVV</label>
              <input class="form-control" type="text" id="cvv" maxlength="3" [(ngModel)]="metodoPago.cvv" name="cvv"
                placeholder="000">
            </div>
          </div>
        </div>
        <div class="textError">{{error}}</div>
        <div class="okMessage">{{message}}</div>
        <a *ngIf="carrito.length != 0" class="btn-pedido btn btn-warning btn-lg" (click)="realizarPedido()">
          Pagar <span>{{ total | currency : 'EUR':'symbol':'':'es'}}</span>
        </a>
      </div>

      <!-- Carrito -->
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="item" *ngFor="let item of carrito">
                <td>
                  <a class="text-decoration-none text-black" routerLink="/producto/{{item.producto.id}}">
                    <h6>{{item.producto.nombre}}</h6>
                  </a>
                </td>
                <td class="text-center">
                  <a class="text-decoration-none text-black" routerLink="/producto/{{item.producto.id}}">
                    <img src="{{item.producto.imagen}}" class="product-img img-fluid" alt="" />
                  </a>
                </td>
                <td>
                  <span class="order-product-price">{{item.producto.precio_venta | currency :
                    'EUR':'symbol':'':'es'}}</span>
                </td>
                <td>
                  <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                    [value]="item.cantidad" (change)="cambiarCantidad(item, cantidad.value)" #cantidad>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </td>
                <td>
                  <span class="order-product-subtotal">{{item.producto.precio_venta * item.cantidad | currency :
                    'EUR':'symbol':'':'es'}}</span>
                </td>
                <td clas="text-right">
                  <a (click)="deleteProductInCart(item)" class="cart-product-remove rounded-circle"
                    title="Remove Product">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                      viewBox="0 0 16 16">
                      <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                  </a>
                </td>
              </tr>
              <tr *ngIf="carrito.length == 0">
                <td colspan="4">
                  <h5>No hay ningun elemento en el carrito</h5>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- Block info -->
        <div class="info">
          Con GameFire beneficiarte de gastos de
          envío <b>GRATIS</b>
        </div>
        <div class="info_total">
          <strong>TOTAL<span class="mover_derecha">{{ total | currency : 'EUR':'symbol':'':'es'}}</span></strong>
        </div>
      </div>
    </div>
  </div>
</section>
