<div class="container-fluid">
  <div class="row">
    <div *ngIf="spinner" class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div>
      <h5>{{message}}</h5>
    </div>
    <div class="list col-8">
      <!-- Product List-->
      <div class="producto-search" *ngFor="let producto of productos">
        <a class="text-decoration-none text-black" routerLink="/producto/{{producto.id}}">
          <img
            src={{producto.imagen}}
            class="card-img-top"
            alt={{producto.nombre}}
          />
          <h6 class="text-muted">{{producto.nombre}}</h6>
          <h5 class="">{{producto.precio_venta}}</h5>
        </a>
        </div>
      </div>
  </div>
</div>
