img {
  width: 10rem ;
  height: 10rem;
}

.producto-search {
  border-color: transparent;
  border-radius: 2px;
  margin: 5px;
}

.producto-search:hover {
  border: 1px solid black;
  box-shadow: 1px 2px rgb(165, 165, 165);
  cursor: pointer;
}

