a {
  cursor: pointer;
}

.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 20px;
}

.info {
  margin-left: 1.5rem;
}

.error {
  color: rgb(179, 51, 51);
}

.message {
  color: rgb(62, 204, 67);
}

.card {
  height: auto;
  width: 100%;
}

.container{
  height: 100vh;
}
