body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  flex: 0 1 auto;
}

.header {
  flex: 0 1 auto;
}

.main-content{
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 auto;
}
